* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.launch-card {
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
    max-width: 950px;
    background-color: #2196f31f;
    border-radius: 30px;
}

.launch-card div {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launch-card ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.launch-card li {
    padding-top: .25em;
}

.placeholder {
    border-radius: 100%;
}