.header div {
    display: inline-block;
}

.container>div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    /* For IE7 */
    zoom: 1;
    /* Trigger hasLayout */
    width: 33%;
    text-align: center;
}

.flex {
    margin: 3em;
    border: black 1px solid;
    max-width: 950px;
}

.flex div {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.flex li {
    padding-top: .25em;
}

.placeholder {
    border-radius: 100%;
}